mixin billing_5_3_wallet_popup
  .bottom-popup
    .popup-wrap
      a.close-btn(href='javascript:void(0);')
      h2.popup-title Đổi nguồn tiền
      .popup-ctn
        .bill-wallet-list
          ul.clearfix
            li.active
              a(href='javascript:void(0);')
                p.ico
                  img(src='images/bank/icons/zalopay.png')
                .info
                  .info-inside
                    p.name Ví ZaloPay
                    p.num Số dư: 50.000đ
            li
              a(href='javascript:void(0);')
                p.ico
                  img(src='images/bank/icons/vietinbank.png')
                .info
                  .info-inside
                    p.name ViettinBank
                    p.num **** 2011
            li
              a(href='javascript:void(0);')
                p.ico
                  img(src='images/bank/icons/eximbank.png')
                .info
                  .info-inside
                    p.name Eximbank
                    p.num **** 2345
            li
              a(href='javascript:void(0);')
                p.ico
                  img(src='images/bank/icons/vietcombank.png')
                .info
                  .info-inside
                    p.name Vietcombank
                    p.num **** 5467
  // end popup
  .billing-page
    h2.bill-title Nguồn tiền
    .wallet-block
      p.logo
        img(src='images/zalopay.png', alt='')
      .detail
        .detail-inside
          p.name Ví ZaloPay
          p.user-name Số dư: 2.000.000đ
      a.lnk(href='javascript:void(0);') Thay đổi
    h2.bill-title Thông tin chi tiết
    .provider-info
      .row.clearfix
        p.col.col1 Nhà cung cấp
        p.col.col2 EVN Hồ Chí Minh
      .row.clearfix
        p.col.col1 Mã KH
        p.col.col2 PE 12000216238
      .row.clearfix
        p.col.col1 Kỳ thanh toán
        p.col.col2 12/2018
      .row.clearfix
        p.col.col1 Tên KH
        p.col.col2 Phạm Thanh Phương
      .row.clearfix
        p.col.col1 Địa chỉ
        p.col.col2 Số 182, Lê Đại Hành, Phường 15, Quận 11, Hồ Chí Minh
      .row.line.clearfix
        p.col.col1 Phí giao dịch
        p.col.col2 Miễn phí
      .row.clearfix
        p.col.col1 Tổng tiền
        p.col.col2
          span.money 278.000đ
    .btn-row
      a.btn-style.blue(href='javascript:void(0);') Thanh toán