mixin event_spring_popup
  .popup-spring-page
    .popup-box
      a.close-btn(href='javascript:void(0);')
      h2.title Thông báo
      .award-info.tree
        p.mb20 Bạn nhận được Hoa đào phai (cao)
        .tree
          .tree-wrap
            img(src='images/event/spring2019/dao_3.png', alt='')
        p.mb25
          | Tích lũy đủ điểm trưởng thành để nhận lì xì may mắn hoặc voucher thanh toán dịch vụ
        p.btn-row.pb12
          a.btn-red(href='javascript:void(0);') Đăng kí
  // end popup
  .home-page
    .head-block
      .blue-block
        a.setting-btn(href='javascript:void(0);')
        .wallet-info
          p.lb Số dư trong ví
          p.money
            span.num 1.000.000
            span.unit đ
        .lnk.card
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/vietinbank.png')
            .info
              .info-inside
                p.name ViettinBank
                p.note Miễn phí và rút tiền nạp tiền
      .grey-block
        .ico-list
          ul.clearfix
            li
              a(href='javascript:void(0);')
                .ico-list-inside
                  p.ico.recharge
                  p.txt Nạp tiền
            li
              a(href='javascript:void(0);')
                .ico-list-inside
                  p.ico.receive
                  p.txt Rút tiền
            //
              <li>
              <a href="javascript:void(0);">
              <div class="ico-list-inside">
              <p class="ico qr-code"></p>
              <p class="txt">Nhận tiền</p>
              </div>
              </a>
              </li>
            li
              a(href='javascript:void(0);')
                .ico-list-inside
                  p.ico.qr-code-pay
                  p.txt Thanh toán
      .sale-block
        a.sale-wrap(href='javascript:void(0);')
          span.l-sale
            | Ưu đãi của tôi 
            span.new-lb Mới
          span.r-sale 5
      .grey-block.s2.multi-row
        h2.title Dịch vụ
        .ico-list
          ul.clearfix
            li
              a(href='javascript:void(0);')
                .ico-list-inside
                  span.discount.s1 20%
                  p.ico.mobile-recharge
                  p.txt
                    | Nạp tiền
                    br
                    | điện thoại
            li
              a(href='javascript:void(0);')
                .ico-list-inside
                  span.discount.s2 KM 20%
                  p.ico.mobile-card
                  p.txt
                    | Mua mã thẻ
                    br
                    | điện thoại
            li
              a(href='javascript:void(0);')
                .ico-list-inside
                  p.ico.send-money
                  p.txt Chuyển tiền
            li
              a(href='javascript:void(0);')
                .ico-list-inside
                  p.ico.red-packet
                  p.txt Lì xì
            li
              a(href='javascript:void(0);')
                .ico-list-inside
                  p.ico.billing
                  p.txt
                    | Thanh toán
                    br
                    | hoá đơn
            li
              a(href='javascript:void(0);')
                .ico-list-inside
                  p.ico.electric-billing
                  p.txt
                    | Hoá đơn
                    br
                    | điện
            li
              a(href='javascript:void(0);')
                .ico-list-inside
                  p.ico.water-billing
                  p.txt
                    | Hoá đơn
                    br
                    | nước
            li
              a(href='javascript:void(0);')
                .ico-list-inside
                  p.ico.internet-billing
                  p.txt
                    | Hoá đơn
                    br
                    | internet
            li
              a(href='javascript:void(0);')
                .ico-list-inside
                  p.ico.tv-billing
                  p.txt
                    | Hoá đơn
                    br
                    | truyền hình
            li
              a(href='javascript:void(0);')
                .ico-list-inside
                  p.ico.money-to-account
                  p.txt
                    | Chuyển tiền
                    br
                    | đến tài khoản
            li
              a(href='javascript:void(0);')
                .ico-list-inside
                  p.ico.money-to-bankcard
                  p.txt
                    | Chuyển tiền đến
                    br
                    | thẻ ngân hàng
            li
              a(href='javascript:void(0);')
                .ico-list-inside
                  p.ico.money-to-friend
                  p.txt
                    | Chuyển tiền
                    br
                    | đến bạn bè
            li
              a(href='javascript:void(0);')
                .ico-list-inside
                  p.ico.qr-code
                  p.txt Nhận tiền
            li
            li
    .banner
      a(href='#')
        img(src='images/banner/miss_vng_bn_1.1.png', alt='')
    .history-exchange-list
      h2.title Lịch sử giao dịch
      .history-exchange-wrap
        .history-list
          ul.clearfix
            li.finish
              a(href='javascript:void(0);')
                p.avatar
                  img(src='images/landing/img1.jpg')
                .detail
                  .detail-inside
                    p.name Chuyển tiền Elnora
                    p.time 01-08-2018 11:20
                    p.money
                      | -50.000
                      span.unit đ
            li.cancel
              a(href='javascript:void(0);')
                p.avatar
                  img(src='images/landing/img4.jpg')
                .detail
                  .detail-inside
                    p.name Chuyển tiền tới L. Carr
                    p.time 01-08-2018 11:20
                    p.money
                      | 4.000.000
                      span.unit đ
            li.wait
              a(href='javascript:void(0);')
                p.avatar
                  img(src='images/landing/img2.jpg')
                .detail
                  .detail-inside
                    p.name Chuyển tiền tới Ray Carter
                    p.time 01-08-2018 11:20
                    p.money
                      | 50.000
                      span.unit đ
            li.expire
              a(href='javascript:void(0);')
                p.avatar
                  img(src='images/landing/img3.png')
                .detail
                  .detail-inside
                    p.name Chuyển tiền tới Jerome
                    p.time 01-08-2018 11:20
                    p.money
                      | 50.000
                      span.unit đ
            li.finish
              a(href='javascript:void(0);')
                p.avatar
                  img(src='images/landing/img4.jpg')
                .detail
                  .detail-inside
                    p.name Nhận tiền từ Amy Walker
                    p.time 01-08-2018 11:20
                    p.money
                      | +4.000.000
                      span.unit đ
          p.btn-row
            a.seemore-btn(href='javascript:void(0);') Xem tất cả
    .footer
      span.zp-logo