mixin voucher_0_new_voucher_popup
  .popup-full-width
    .popup-box
      a.close-btn(href='javascript:void(0);')
      .voucher-popup
        p.img
          img(src='images/voucher/voucher.png', alt='')
        p.txt1 Chúc mừng bạn được ưu đãi
        .discount-box
          p.d-txt1
            span.t1 Giảm
            span.n1 50
            span.n2 %
          p.d-txt2 Tối đa 50.000đ
        p.txt2 Từ chương trình ngày vàng ZaloPay mua thẻ ĐT
        p.txt2 Hoàn tiền may mắn lên đến 500k.
        a.lnk(href='javascript:void(0);') Chi tiết giao dịch
  // end popup
  .home-page
    .head-block
      .blue-block
        a.setting-btn(href='javascript:void(0);')
        .wallet-info
          p.lb Số dư trong ví
          p.money
            span.num 1.000.000
            span.unit đ
        .lnk.card
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/vietinbank.png')
            .info
              .info-inside
                p.name ViettinBank
                p.note Miễn phí và rút tiền nạp tiền
      .grey-block
        .ico-list
          ul.clearfix
            li
              a(href='javascript:void(0);')
                .ico-list-inside
                  p.ico.recharge
                  p.txt Nạp tiền
            li
              a(href='javascript:void(0);')
                .ico-list-inside
                  p.ico.receive
                  p.txt Rút tiền
            li
              a(href='javascript:void(0);')
                .ico-list-inside
                  p.ico.qr-code
                  p.txt Nhận tiền
      .grey-block.s2
        h2.title Dịch vụ
        .ico-list
          ul.clearfix
            li
              a(href='javascript:void(0);')
                .ico-list-inside
                  p.ico.mobile-recharge
                  p.txt Nạp tiền ĐT
            li
              a(href='javascript:void(0);')
                .ico-list-inside
                  p.ico.red-packet
                  p.txt Lì xì
            li
              a(href='javascript:void(0);')
                .ico-list-inside
                  p.ico.send-money
                  p.txt Chuyển tiền
      .sale-block
        a.sale-wrap(href='javascript:void(0);')
          span.l-sale
            | Ưu đãi của tôi 
            span.new-lb Mới
          span.r-sale 5
    .banner
      a(href='#')
        img(src='images/banner/miss_vng_bn_1.1.png', alt='')
    .history-exchange-list
      h2.title Lịch sử giao dịch
      .history-exchange-wrap
        .history-list
          ul.clearfix
            li.finish
              a(href='javascript:void(0);')
                p.avatar
                  img(src='images/landing/img1.jpg')
                .detail
                  .detail-inside
                    p.name Chuyển tiền Elnora
                    p.time 01-08-2018 11:20
                    p.money
                      | -50.000
                      span.unit đ
            li.cancel
              a(href='javascript:void(0);')
                p.avatar
                  img(src='images/landing/img4.jpg')
                .detail
                  .detail-inside
                    p.name Chuyển tiền tới L. Carr
                    p.time 01-08-2018 11:20
                    p.money
                      | 4.000.000
                      span.unit đ
            li.wait
              a(href='javascript:void(0);')
                p.avatar
                  img(src='images/landing/img2.jpg')
                .detail
                  .detail-inside
                    p.name Chuyển tiền tới Ray Carter
                    p.time 01-08-2018 11:20
                    p.money
                      | 50.000
                      span.unit đ
            li.expire
              a(href='javascript:void(0);')
                p.avatar
                  img(src='images/landing/img3.png')
                .detail
                  .detail-inside
                    p.name Chuyển tiền tới Jerome
                    p.time 01-08-2018 11:20
                    p.money
                      | 50.000
                      span.unit đ
            li.finish
              a(href='javascript:void(0);')
                p.avatar
                  img(src='images/landing/img4.jpg')
                .detail
                  .detail-inside
                    p.name Nhận tiền từ Amy Walker
                    p.time 01-08-2018 11:20
                    p.money
                      | +4.000.000
                      span.unit đ
          p.btn-row
            a.seemore-btn(href='javascript:void(0);') Xem tất cả