mixin money_transfer_04_3_bank_history_list
  .money-transfer
    h2.title Chuyển đến
    .to-account-block
      .bank-row
        ul
          li
            a(href='javascript:void(0);')
              p.ico.money-to-account
              .detail
                .detail-inside
                  p.name Chọn ngân hàng
      .frm-account
        .bank-frm-txt.user-list-history
          .history-box
            a.user-ico(href='javascript:void(0);')
            .tooltip.bt(style='display: block;')
              ul.user-list
                li
                  a(href='javascript:void(0);')
                    p.logo
                      img(src='images/bank/icons/vietinbank.png', alt='')
                    .info
                      p.txt
                        span.name PHAM THANH PHUONG
                        span.num Tài khoản: 01234839029910
                li
                  a(href='javascript:void(0);')
                    p.logo
                      img(src='images/bank/icons/vietcombank.png', alt='')
                    .info
                      p.txt
                        span.name NGUYEN VU HOA
                        span.num Tài khoản: 01828459382781
                li
                  a(href='javascript:void(0);')
                    p.logo
                      img(src='images/bank/icons/sacombank_1.1.png', alt='')
                    .info
                      p.txt
                        span.name PHAM THANH PHUONG
                        span.num Tài khoản: 01234839029910
                li
                  a(href='javascript:void(0);')
                    p.logo
                      img(src='images/bank/icons/tpbank.png', alt='')
                    .info
                      p.txt
                        span.name PHAM THANH PHUONG
                        span.num Tài khoản: 01234839029910
                li
                  a(href='javascript:void(0);')
                    p.logo
                      img(src='images/bank/icons/scb.png', alt='')
                    .info
                      p.txt
                        span.name PHAM THANH PHUONG
                        span.num Tài khoản: 01234839029910
                li
                  a(href='javascript:void(0);')
                    p.logo
                      img(src='images/bank/icons/vietinbank.png', alt='')
                    .info
                      p.txt
                        span.name PHAM THANH PHUONG
                        span.num Tài khoản: 01234839029910
          a.delete-btn(href='javascript:void(0);')
          input(type='text', required='')
          span.highlight
          label Nhập số tài khoản