mixin scan_qr_02_1_qr_code
  .home-page.qr-code
    .notify
      .box
        .txt Sử dụng Zalo để thanh toán mà không cần kết bạn.
        .q-ico
          p.tooltip.bt
            img(src='images/qr-code/qr_code_guide_img2.png', alt='')
    .qr-code-box
      .box
        a.option-btn(href='javascript:void(0);')
          span.dot
          span.dot
          span.dot
        .qr-code-img
          .qr-code-inside
            p.avatar
              img(src='images/landing/img1.jpg', alt='')
            p.img
              img(src='images/demo/qr_code.png', alt='')
        .lnk-row.s2.clearfix
          .inside
            a(href='javascript:void(0);') Nhập số tiền
            a(href='javascript:void(0);') Lưu mã QR
    p.lnk-row
      a(href='javascript:void(0);') Quay lại ví
