mixin topup_1_3_history_choose_user
  .topup-page
    p.wallet
      | Số dư ZaloPay: 
      span.num 250.000đ
      | . 
      a(href='javascript:void(0);') Ví của tôi.
    .frm-block
      .bank-frm-txt.user-list-history.active
        .history-box
          a.user-ico(href='javascript:void(0);')
          .tooltip.bt(style='display: block;')
            ul.user-list
              li
                a(href='javascript:void(0);')
                  p.avatar
                    img(src='images/landing/img1.jpg', alt='')
                  .info
                    p.txt
                      span.name Xu Jianhong
                      span.num 0904827423
                    p.money 50.000đ
              li
                a(href='javascript:void(0);')
                  p.avatar
                    img(src='images/landing/img2.jpg', alt='')
                  .info
                    p.txt
                      span.name Lois Boone
                      span.num 0904827423
                    p.money 100.000đ
              li
                a(href='javascript:void(0);')
                  p.avatar
                    img(src='images/landing/img4.jpg', alt='')
                  .info
                    p.txt
                      span.name Eva Baldwin
                      span.num 0904827423
                    p.money 20.000đ
              li
                a(href='javascript:void(0);')
                  p.avatar
                    img(src='images/landing/img1.jpg', alt='')
                  .info
                    p.txt
                      span.name Xu Jianhong
                      span.num 0904827423
                    p.money 50.000đ
              li
                a(href='javascript:void(0);')
                  p.avatar
                    img(src='images/landing/img2.jpg', alt='')
                  .info
                    p.txt
                      span.name Lois Boone
                      span.num 0904827423
                    p.money 100.000đ
              li
                a(href='javascript:void(0);')
                  p.avatar
                    img(src='images/landing/img4.jpg', alt='')
                  .info
                    p.txt
                      span.name Eva Baldwin
                      span.num 0904827423
                    p.money 20.000đ
        a.delete-btn(href='javascript:void(0);')
        input(type='tel', required='', value='0904374882')
        span.highlight
        label Nạp cho số điện thoại - Mobifone
    .title-row
      h2.title.clearfix
        span.l-title Mệnh giá nạp
        span.discount Chiết khấu 4%
      p.note-title Miễn phí giao dịch.
    .money-list
      ul.clearfix
        li.active
          .box
            a(href='javascript:void(0);')
              p.num1 10.000đ
              p.num2 Giá 9.600đ
        li
          .box
            a(href='javascript:void(0);')
              p.num1 20.000đ
              p.num2 Giá 19.200đ
        li
          .box
            a(href='javascript:void(0);')
              p.num1 50.000đ
              p.num2 Giá: 48.000đ
        li
          .box
            a(href='javascript:void(0);')
              p.num1 100.000đ
              p.num2 Giá: 96.000đ
        li
          .box
            a(href='javascript:void(0);')
              p.num1 200.000đ
              p.num2 Giá: 192.000đ
        li
          .box
            a(href='javascript:void(0);')
              p.num1 500.000đ
              p.num2 Giá: 480.000đ
    .btn-row
      a.btn-style.blue(href='javascript:void(0);') Nạp tiền điện thoại