mixin bank_mapping
  .bank-mapping-page.list-card-grid
    .title-row.top
      h2.title Chọn thẻ quốc tế
      p.note-title Miễn phí nạp tiền, thanh toán nhanh và dễ dàng
    .cards-list.grid.visa-style
      ul.clearfix
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/visa_1.2.png')
        li.inactive
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/master_1.1.png')
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/jcb.png')
    .title-row
      h2.title Chọn ngân hàng
      p.note-title Miễn phí nạp tiền, thanh toán nhanh và dễ dàng
    .cards-list.grid
      ul.clearfix
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/vietinbank.png')
            .info
              .info-inside
                p.name Vietinbank
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/vietcombank.png')
            .info
              .info-inside
                p.name Vietcombank
        li.inactive
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/bidv.png')
            .info
              .info-inside
                p.name BIDV
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/sacombank_1.1.png')
            .info
              .info-inside
                p.name Sacombank
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/mbbank.png')
            .info
              .info-inside
                p.name MBbank
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/scb_1.1.png')
            .info
              .info-inside
                p.name SCB
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/eximbank_1.1.png')
            .info
              .info-inside
                p.name Eximbank
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/vietcapital.png')
            .info
              .info-inside
                p.name Viet Capital
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/techcombank.png')
            .info
              .info-inside
                p.name Techcombank
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/vpbank.png')
            .info
              .info-inside
                p.name VPbank
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/hdbank.png')
            .info
              .info-inside
                p.name HD Bank
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/tpbank.png')
            .info
              .info-inside
                p.name TP Bank
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/agribank.png')
            .info
              .info-inside
                p.name Agribank
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/shb.png')
            .info
              .info-inside
                p.name SHB
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/acb.png')
            .info
              .info-inside
                p.name ACB
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/abbank.png')
            .info
              .info-inside
                p.name ABBank
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/seabank.png')
            .info
              .info-inside
                p.name SeABank
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/pgbank.png')
            .info
              .info-inside
                p.name PG Bank
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/ocb.png')
            .info
              .info-inside
                p.name OCB
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/vibank.png')
            .info
              .info-inside
                p.name VIB
    .title-row.v3
      p.note-title Miễn phí nạp tiền, thanh toán nhanh và dễ dàng
    .cards-list.grid
      ul.clearfix
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/techcombank.png')
            .info
              .info-inside
                p.name Techcombank
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/vpbank.png')
            .info
              .info-inside
                p.name VPbank
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/acb.png')
            .info
              .info-inside
                p.name ACB
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/abbank.png')
            .info
              .info-inside
                p.name ABBank
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/seabank.png')
            .info
              .info-inside
                p.name SeABank
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/pgbank.png')
            .info
              .info-inside
                p.name PG Bank
        li
          a(href='javascript:void(0);')
            p.ico
              img(src='images/bank/icons/ocb.png')
            .info
              .info-inside
                p.name OCB
    .benefit-block
      .wrapper
        h2.b-title
          span.txt Lợi ích khi liên kết
        .txt-list
          ul
            li Miễn phí nạp tiền vào ZaloPay
            li Không phải nhập lại thông tin tài khoản khi thanh toán
            li Rút tiền từ ZaloPay về tài khoản ngân hàng bất cứ lúc nào
            li Tự động định danh để tăng hạn mức giao dịch lên tối đa (20 triệu VND/ ngày)
    .note
      p.inside
        | ZaloPay thực hiện theo tiêu chuẩn bảo mật
        br
        | PCI-DSS và không lưu thông tin thẻ của bạn
