mixin billing_list
  .billing-page
    .ico-list
      ul.clearfix
        li
          a(href='javascript:void(0);')
            p.ico.electric
            .detail
              .detail-inside
                p.name Điện
        li
          a(href='javascript:void(0);')
            p.ico.water
            .detail
              .detail-inside
                p.name Nước
        li
          a(href='javascript:void(0);')
            p.ico.internet
            .detail
              .detail-inside
                p.name Internet
        li
          a(href='javascript:void(0);')
            p.ico.tv
            .detail
              .detail-inside
                p.name Truyền hình
