mixin history_exchange_list
  .history-exchange-list.history-full-page
    .history-exchange-wrap
      h2.title Tháng 9/2018
      .history-list
        ul.clearfix
          li.finish
            a(href='javascript:void(0);')
              p.avatar
                img(src='images/landing/img1.jpg')
              .detail
                .detail-inside
                  p.name Chuyển tiền Elnora
                  p.time 01-08-2018 11:20
                  p.money
                    | -50.000
                    span.unit đ
          li.cancel
            a(href='javascript:void(0);')
              p.avatar
                img(src='images/landing/img4.jpg')
              .detail
                .detail-inside
                  p.name Chuyển tiền tới L. Carr
                  p.time 01-08-2018 11:20
                  p.money
                    | 4.000.000
                    span.unit đ
          li.wait
            a(href='javascript:void(0);')
              p.avatar
                img(src='images/landing/img2.jpg')
              .detail
                .detail-inside
                  p.name Chuyển tiền tới Ray Carter
                  p.time 01-08-2018 11:20
                  p.money
                    | 50.000
                    span.unit đ
          li.expire
            a(href='javascript:void(0);')
              p.avatar
                img(src='images/landing/img3.png')
              .detail
                .detail-inside
                  p.name Chuyển tiền tới Jerome
                  p.time 01-08-2018 11:20
                  p.money
                    | 50.000
                    span.unit đ
          li.finish
            a(href='javascript:void(0);')
              p.avatar
                img(src='images/landing/img4.jpg')
              .detail
                .detail-inside
                  p.name Nhận tiền từ Amy Walker
                  p.time 01-08-2018 11:20
                  p.money
                    | +4.000.000
                    span.unit đ
      h2.title Tháng 10/2018
      .history-list
        ul.clearfix
          li.finish
            a(href='javascript:void(0);')
              p.avatar
                img(src='images/landing/img1.jpg')
              .detail
                .detail-inside
                  p.name Chuyển tiền Elnora
                  p.time 01-08-2018 11:20
                  p.money
                    | -50.000
                    span.unit đ
          li.cancel
            a(href='javascript:void(0);')
              p.avatar
                img(src='images/landing/img4.jpg')
              .detail
                .detail-inside
                  p.name Chuyển tiền tới L. Carr
                  p.time 01-08-2018 11:20
                  p.money
                    | 4.000.000
                    span.unit đ
          li.wait
            a(href='javascript:void(0);')
              p.avatar
                img(src='images/landing/img2.jpg')
              .detail
                .detail-inside
                  p.name Chuyển tiền tới Ray Carter
                  p.time 01-08-2018 11:20
                  p.money
                    | 50.000
                    span.unit đ
          li.expire
            a(href='javascript:void(0);')
              p.avatar
                img(src='images/landing/img3.png')
              .detail
                .detail-inside
                  p.name Chuyển tiền tới Jerome
                  p.time 01-08-2018 11:20
                  p.money
                    | 50.000
                    span.unit đ
          li.finish
            a(href='javascript:void(0);')
              p.avatar
                img(src='images/landing/img4.jpg')
              .detail
                .detail-inside
                  p.name Nhận tiền từ Amy Walker
                  p.time 01-08-2018 11:20
                  p.money
                    | +4.000.000
                    span.unit đ
