mixin money_transfer_list
  .transfer-list
    h2.title.show-hide-ctn.active Tài khoản ZaloPay
    .t-list
      ul
        li
          p.avatar
            img(src='images/landing/img1.jpg')
          .detail
            .detail-inside
              p.name Phương Thanh Giang
              p.time Số ĐT: 0983729284
              a.send-btn(href='javascript:void(0);') Chuyển tiền
        li
          p.avatar
            img(src='images/landing/img4.jpg')
          .detail
            .detail-inside
              p.name Hiệp Trần
              p.time Số ĐT: 0948492023
              a.send-btn(href='javascript:void(0);') Chuyển tiền
        li
          p.avatar
            img(src='images/landing/img1.jpg')
          .detail
            .detail-inside
              p.name Phương Thanh Giang
              p.time Số ĐT: 0983729284
              a.send-btn(href='javascript:void(0);') Chuyển tiền
        li
          p.avatar
            img(src='images/landing/img4.jpg')
          .detail
            .detail-inside
              p.name Hiệp Trần
              p.time Số ĐT: 0948492023
              a.send-btn(href='javascript:void(0);') Chuyển tiền
    h2.title.show-hide-ctn.active Tài khoản ngân hàng
    .t-list
      ul
        li
          p.logo
            img(src='images/bank/icons/vietcombank.png', alt='')
          .detail
            .detail-inside
              p.name Phương Thanh Giang
              p.time Số TK: 01234839029910
              a.send-btn(href='javascript:void(0);') Chuyển tiền
        li
          p.logo
            img(src='images/bank/icons/vietinbank.png', alt='')
          .detail
            .detail-inside
              p.name NGuyen giang
              p.time Số TK: 01234839029910
              a.send-btn(href='javascript:void(0);') Chuyển tiền
    h2.title.show-hide-ctn.active Thẻ ngân hàng
    .t-list
      ul
        li
          p.logo
            img(src='images/bank/icons/vietinbank.png', alt='')
          .detail
            .detail-inside
              p.name.s2 Le thanh hoa
              p.time Thẻ: 9827 7478 8487 0938
              a.send-btn(href='javascript:void(0);') Chuyển tiền
        li
          p.logo
            img(src='images/bank/icons/vietcombank.png', alt='')
          .detail
            .detail-inside
              p.name.s2 Phương Thanh Giang
              p.time Thẻ: 9827 7478 8487 0938
              a.send-btn(href='javascript:void(0);') Chuyển tiền
