mixin money_transfer
  .billing-page
    .ico-list.mb12
      ul.clearfix
        li
          a(href='javascript:void(0);')
            p.ico.money-to-friend
            .detail
              .detail-inside
                p.name Chuyển tiền đến bạn bè
                p.note.s2 Bạn Zalo, Danh bạ, Số điện thoại
        li
          a(href='javascript:void(0);')
            p.ico.money-to-account
            .detail
              .detail-inside
                p.name Chuyển tiền đến tài khoản
                p.note.s2 Tài khoản của 41 ngân hàng nội địa 
        li
          a(href='javascript:void(0);')
            p.ico.money-to-cardbank
            .detail
              .detail-inside
                p.name Chuyển tiền đến thẻ ngân hàng
                p.note.s2 Thẻ ATM của 42 ngân hàng nội địa
    .ico-list.top-line
      ul.clearfix
        li
          a(href='javascript:void(0);')
            p.ico.saved-list
            .detail
              .detail-inside
                p.name Danh sách đã lưu
