mixin user_choosed_list
  .redpacket-page
    .list-user-choosed
      h2.uc-title Thành viên (8)
      .uc-list
        ul
          li.add-member
            a(href='javascript:void(0);')
              .add-member-box.clearfix
                span.add-ico
                span.txt Thêm thành viên
          li
            a(href='javascript:void(0);')
              input#vcheck1(type='checkbox', name='checkboxlist', checked='')
              label.clearfix(for='vcheck1')
                span.checkbox
                span.img
                  img(src='images/landing/img1.jpg')
                span.txt Ricardo Lamb
          li
            a(href='javascript:void(0);')
              input#vcheck2(type='checkbox', name='checkboxlist')
              label.clearfix(for='vcheck2')
                span.checkbox
                span.img
                  img(src='images/landing/img2.jpg')
                span.txt Brandon Tucker
          li
            a(href='javascript:void(0);')
              input#vcheck3(type='checkbox', name='checkboxlist', checked='')
              label.clearfix(for='vcheck3')
                span.checkbox
                span.img
                  img(src='images/landing/img4.jpg')
                span.txt Brent Morales
          li
            a(href='javascript:void(0);')
              input#vcheck4(type='checkbox', name='checkboxlist')
              label.clearfix(for='vcheck4')
                span.checkbox
                span.img
                  img(src='images/landing/img5.jpg')
                span.txt William Banks
          li
            a(href='javascript:void(0);')
              input#vcheck5(type='checkbox', name='checkboxlist', checked='')
              label.clearfix(for='vcheck5')
                span.checkbox
                span.img
                  img(src='images/landing/img2.jpg')
                span.txt Elnora Dean
          li
            a(href='javascript:void(0);')
              input#vcheck6(type='checkbox', name='checkboxlist', checked='')
              label.clearfix(for='vcheck6')
                span.checkbox
                span.img
                  img(src='images/landing/img1.jpg')
                span.txt John Cortez
          li
            a(href='javascript:void(0);')
              input#vcheck7(type='checkbox', name='checkboxlist', checked='')
              label.clearfix(for='vcheck7')
                span.checkbox
                span.img
                  img(src='images/landing/img5.jpg')
                span.txt Ricardo Lamb
          li
            a(href='javascript:void(0);')
              input#vcheck8(type='checkbox', name='checkboxlist')
              label.clearfix(for='vcheck8')
                span.checkbox
                span.img
                  img(src='images/landing/img2.jpg')
                span.txt Brandon Tucker
          li
            a(href='javascript:void(0);')
              input#vcheck9(type='checkbox', name='checkboxlist', checked='')
              label.clearfix(for='vcheck9')
                span.checkbox
                span.img
                  img(src='images/landing/img4.jpg')
                span.txt Brent Morales
      .btn-row
        a.btn-style.blue(href='javascript:void(0);') QUAY LẠI

