//- ------------------------------------
//- head
//-
mixin absoluteStyle(path)
  link(rel="stylesheet" href=path)&attributes(attributes)

mixin absoluteScript(path)
  script(src=path)&attributes(attributes)