@import "variable";

/*---------------------------------------
  Reset CSS (không cần edit)
----------------------------------------*/
html{overflow-y:scroll;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}table{border-collapse:collapse;border-spacing:0;}caption,th{text-align:left;}q:before,q:after{content:'';}object,embed{vertical-align:top;}h1,h2,h3,h4,h5,h6{font-size:100%;}img,abbr,acronym,fieldset{border:0;}ul li,ol li{list-style-type:none;}a,label{cursor:pointer;}img,svg{vertical-align:middle;margin:0;padding:0;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}*,*::before,*::after{-webkit-box-sizing:border-box;box-sizing:border-box}

/* stylelint-disable selector-max-universal, selector-max-type */
/*----------------------------------------
  Base
----------------------------------------*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  text-size-adjust: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: $width-main;
  font-size: $size-font-base;
  font-weight: normal;
  color: #000;
  text-size-adjust: 100%;
  font-family: $font-family-base;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  line-height: 1.5;
}

// =============================================
//  anchor color
// =============================================
/*----------------------------------------
  anchor color
----------------------------------------*/
a {
  color: $color-link;
  text-decoration: none;

  img {
    transition: opacity $transition-hover;
    // transitionをかけた画像がChromeでズレる現象を回避する為に `backface-visibility: hidden` を指定する
    // ref:
    // https://sleep-sheep.info/2016/09/01/chrome%E3%81%A7hhover%E3%81%97%E3%81%9F%E9%9A%9B%E3%81%AB%E3%81%9A%E3%82%8C%E3%82%8B%E7%8F%BE%E8%B1%A1/
    backface-visibility: hidden;
  }

  &:hover {
    text-decoration: none;

    [data-whatintent="mouse"] & img {
      opacity: $opacity-hover;
    }
  }
}


.body_image {
  width: 100%;
  height: auto;
  overflow: hidden;
}
/*----------------------------------------
  form
----------------------------------------*/
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  /* stylelint-disable property-no-vendor-prefix */
  -moz-appearance: none;
  -webkit-appearance: none;
  /* stylelint-enable property-no-vendor-prefix */
  appearance: none;

  &::-ms-expand {
    display: none;
  }
}

// Chromeでinput,textareaがオートフィルされてると背景色が黄色になるのを回避
input:-webkit-autofill,
textarea:-webkit-autofill {
  box-shadow: 0 0 0 1000px #fff inset;
}

// safariでinput上下に2pxのマージンが付くので打ち消し
input {
  margin: 0;
}

input,
button {
  outline: 0;
}

select,
button {
  margin: 0;
  cursor: pointer;
}

::placeholder {
  color: #a9a9a9;
}

svg {
  vertical-align: middle;
}

img {
  vertical-align: top;
}
// Chromeのみ。Safariでは画像が荒くなる
@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
  img {
    image-rendering: -webkit-optimize-contrast; // stylelint-disable-line
  }
}

// 解析タグ発行 img 要素(1px) によってフッター下に隙間ができるのを回避
body > img {
  position: absolute;
  top: 0;
  right: 0;
}

.sp_appear {
  display: none;
}

@media screen and (max-width: 767px) {
  html {
    height: 100%;
  }
  body {
    min-width: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .pc_appear {
    display: none;
  }
  
  .sp_appear {
    display: block;
  }
}