@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

@mixin mouse-hover {
  &:hover {
    @content;
  }
}
/*----------------------------------------
  browser default value
----------------------------------------*/
$size-font-browser: 16px;
/*----------------------------------------
  base
----------------------------------------*/
$size-font-html: 10px / $size-font-browser * 100%;
$size-font-base: 1.4rem;
$line-height-base: 1.5;
$font-family-base: 'Helvetica Neue', Helvetica, Arial,sans-serif;
$font-family-condense: 'HelveticaNeue-Condensed';

/*----------------------------------------
  color
----------------------------------------*/
$color-main: #ae469c;
$color-link: #0085e2;
$color-sub: #ffeeff;
/*----------------------------------------
  opacity
----------------------------------------*/
$opacity-hover: 0.5; 

/*----------------------------------------
  size
----------------------------------------*/
$width-site: 1300px;
$width-header: 260px;
$width-main: 1110px;
$height-header-sp: 55px;
$padding-offset-sp: 20px;
$height-header-sp: 57px;
/*----------------------------------------
  font
----------------------------------------*/
$font-light: 200;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

/*----------------------------------------
  line-height
----------------------------------------*/
$line-height-body-text: 1.7;

/*----------------------------------------
  transition
----------------------------------------*/
$transition-hover: 0.3s cubic-bezier(0.13, 0.78, 0.38, 0.98);
$transition-hover-fast: 0.1s cubic-bezier(0.13, 0.78, 0.38, 0.98);
$transition-accordion: 0.5s cubic-bezier(0.44, 0.03, 0.14, 0.98);
$transition-fade: 0.5s cubic-bezier(0.44, 0.03, 0.14, 0.98);