//- ------------------------------------
//- common header
//- ------------------------------------

//- ------------------------
//- mixin
//-

//- ------------------------
//- HTML CONTENTS
//-

.header
  p This is Header
  