extends _pug/_layouts/_default

block variables
  - const TITLE = SITE_NAME;
  - const DESCRIPTION = 'description';
  - const KEYWORDS = 'keywords';
  - const OG_TYPE = 'website';
  - const OG_URL = '';
  - const OG_IMAGE = '';

//- Style this page
block style
  +style('/css/index.css')

//- Script this page
block scripts
  //- +script('/js/index.js')

block content
  p Chạy coi1122
  h1 Hôm qua em lên chùa hương lên tới chùa gặp cô nương
